
body {
    background-color: #242D7F;
    overflow-x: hidden;
    
}

.content-wrapper {
  position: relative;
  overflow: hidden; 
 
}
.scroll-indicator {
  position: absolute;
  top: 9.3%;
  left: 8%;
  height: 84%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.scroll-line {
  width: auto;
  height: 100%;
}

.points {
  position: absolute;
  right: 48.2%;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.point {
  width: 15px;
  height: 15px;
  position: relative;
  transition: all 0.3s;
}

.point1 { top: 3%; }
.point2 { top: 3%; }
.point3 { top: 2%; }
.point4 { top: -5%; }
.point5 { top: -10%; }


.highlighted {
  background-color: #242D7F;
  box-shadow: 0 0 10px rgba(24, 47, 249, 0.766); 
 border-radius: 50%;
}




.navbar {
    background-color: #242D7F;
    transition: background-color 0.3s ease;
    z-index: 2000; 
    height: 80px;

  }
  
  .navbar a.navbar-brand img {
    max-height: 50px;
    margin-left: 50px;
    margin-top: 0px;
  }
  
 
.navbar-toggler {
    border: none;
    padding: 0;
    display: inline-block !important;
    background: transparent;
    outline: none; 
    box-shadow: none; }


.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}


  .navbar-toggler:focus {
    outline: none;
    border: transparent;

  }
  
  .navbar-toggler img.toggle-icon {
    width: 30px;
    height: auto;
    margin-right: 50px;
   
  }
  
  .navbar.navbar-scrolled {
    background-color: #F0F2F5!important;
  }

/* Fullscreen menu styles */




.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242D7F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Archivo";
  font-weight: 900;
 
  line-height: 40px;
}

.fullscreen-menu .close-btn {
  position: absolute;
  top: 30px;
  right: 60px;
  background: none;
  border: none;
  padding: 0;
  outline: none; 
  box-shadow: none; 
}

.fullscreen-menu .close-btn img.close-icon {
  width: 40px;
  height: auto;
}

.fullscreen-menu .menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin-top: 400px;
}

.fullscreen-menu .menu-items {
  list-style: none;
  padding: 0;
  text-align: left;
}

.fullscreen-menu .menu-items li {
  margin: 20px 0;
}

.fullscreen-menu .menu-items a {
  color: #fff;
  font-size: 3.5rem;
  text-decoration: none;
}

.fullscreen-menu .contact-info {
  color: #fff;
  text-align: right;
  font-family: 'Archivo';
  font-weight: 300;
  margin-top: 60px;

}

.fullscreen-menu .contact-info p,
.fullscreen-menu .contact-info a {
  font-size: 1.1rem;
  margin: 5px 0;
}

.contact-info a {

  color: #fff;
}
.contacto-word{
  font-weight: bold;
  font-family: 'Archivo';
  line-height: 1px ;
}

.fullscreen-menu .social-icons {
  margin-top: 20px;
}

.fullscreen-menu .social-icons img {
  width: 25px;
  margin: 0 10px;
}

.direccion {
  line-height: 20px;
}
.mail{
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  

  
  .navbar{
  height: 100px;
  }

  .navbar::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #242D7F 0%, transparent 100%);
    z-index: 3;
  }
  .banner-background img {
    content: url('./img/banner-mobile.png');
    object-fit: contain;
   
  }


  .fullscreen-menu .menu-content {
    flex-direction: column;
    align-items: flex-start;
  padding-top: 40px;
  margin-top: 0;
    line-height: 130px;
  }

  .fullscreen-menu .contact-info {
    display: none;
  }

  .fullscreen-menu .menu-items a {
    font-size: 2.5rem;
   
  }
   
.navbar-toggler img.toggle-icon  {

  margin-right: 0px;
}

.navbar a.navbar-brand img  {
margin-left: 0;
}
.fullscreen-menu .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;

}


}

/* Hide and show fullscreen menu */
.d-none {
  display: none;
}
    
  

/* Banner styles */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
 
}

.banner-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 3.5rem;
  font-family: 'Archivo';
  font-weight: bold;
  margin: 0;
  margin-bottom:5px;
}


.banner-shape img {
  width: 180px;
  height: 180px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.banner-text img {
  width: 350px;
}


@media (max-width: 768px) {

  
  .banner-content {
    top: 30%;
  }

  .banner-text h1 {
    font-size: 2.5rem;
  }

  .banner-text p {
    font-size: 1.2rem;
  }

  .banner-shape img {
    width: 70px;
    height: 70px;
  }

  .banner-text img {
    width: 250px;
  }
  .banner-shape img {
    width: 150px;
    height: 150px;
    
    margin-bottom: 60px;
  }
.banner-content{
  top: 40%;
}


}

/* EMPRESA SECTION */


.empresa-section {
  position: relative;
  padding: 150px 100px;
  background-color: #242D7F;
  color: #ffffff;
  overflow: hidden;
}
.empresa-contenedor
{ 
  width: 50%;
  z-index: 3;
}

.empresa-title {
  font-size: 38px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Archivo';
 
}

.highlight {
  color: #00ADEF;
  font-weight: 700;
 letter-spacing: 1px;

}

.empresa-text {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Archivo';
  margin-bottom: 30px;
  text-align: left;
}

.empresa-logos img {
  max-width: 250px;
  margin: 0 14px;
}

.sphere {
  position: absolute;
  width: 1200px;
  height: 1200px;
  opacity: 0;
  z-index: 2;
  animation: fadeInOut 8s infinite;
  
}

.left-sphere {
  top: 500px;
 left: -300px;
}

.right-sphere {
  top: 500px;
  right: -300px;
  
}

.sphere-two{
  top: 1800px;
  right:0px;
}


.sphere-center {
  position: absolute;
  width: 900px;
  height: 900px;
  opacity: 0;
  z-index: 2;
  animation: fadeInOut 14s infinite;
  
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



@media (max-width: 768px) {
  .empresa-title {
    font-size: 22px;
  }

  .empresa-text {
    font-size: 1rem;
  }

  .empresa-logos img {
    max-width: 70px;
    margin: 0 5px;
  }

  .sphere {
    position: absolute;
    width: 200px;
    height: 200px;
  }

  .left-sphere {
    left: -40px;
    top: 950px;
  }

  .right-sphere {
    right: 0px;
    top: 1000px;
  }
  .empresa-contenedor
{ 
  width: 100%;
  z-index: 3;
}
.empresa-section{
  padding: 60px 10px;
}


@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}



.sphere-two{
  top: 1400px;
  right: -100px;
}


.sphere-center {
  position: absolute;
  width: 450px;
  height: 450px;
  opacity: 0;
  z-index: 2;
  animation: fadeInOut 9s infinite;
  
}
}
@media (max-width: 400px)
{
  .empresa-title {
    font-size: 20px;



  }
  .empresa-text {
    font-size: 12px;
  } 
  .empresa-logos img {
    max-width: 60px;
    margin: 0 5px;
  }
  .left-sphere {
    left: -40px;
    top: 750px;
  }

  .right-sphere {
    right: 0px;
    top: 800px;
  }

  
  .sphere-two{
    top: 1000px;
    right: -100px;
  }
  
  

}

/* SERVICIOS SECTION */

.rulo{
  position:  absolute;
  z-index: 2;
  opacity: 0.9;
  width: 42%;
  height: auto;
}

.svg-background{
 top: 1930px;
 left: 30px;
}


.servicios-section {
  position: relative;
  margin-top: 50px;
  margin-bottom: 200px;
  padding: 100px 150px;
  background-color: transparent;
  color: #ffffff;
  z-index: 3; 
}

.servicios-content {
  max-width: 450px; 
  margin: 0 auto;

}




.servicios-title {
  font-size: 58px;
  margin-bottom: 10px;
  font-family:  'Archivo';
  font-weight: bold;
  letter-spacing: 1px;
}

.servicios-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  font-family: 'Archivo';
  letter-spacing: 1px;

}
.italic {
  font-style: italic;
}

.contact-text {
  font-size: 39px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 1px;
  color: #00ADEF;
  font-weight: 900;

}


.inicia {
 font-family: 'Archivo';
 font-weight: 300;
 font-size: 12px;
}
.contact-text-mobile {
  display: none;
}
.inicia-mobile{
  display: none;
}
/* Accordion Styles */


.accordion {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  width: 500px;
  z-index: 2;
}

.accordion-item {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-style: italic;
  font-family: 'Archivo';
  font-weight: 300;
  border-radius: 40px;
  font-size: 12px;
  
  
}

.accordion-header {
  background-color: transparent;
}

.accordion-button {
  background-color: #ffffff;
  color: #00ADEF;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0, 162, 255, 0.7);
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-family: 'Archivo';
  height: 60px;
  
}
.accordion-button::after {
  width: 1.5em;
  height: 1.5em;
  margin-left: auto;
 
  content: "";
  background: no-repeat center/100% url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23242D7F" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5 5.5l6 6 6-6h-1.5l-4.5 4.5-4.5-4.5h-1.5z"/></svg>');
}

.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius:0;
  background-color: white;
  color: #00ADEF;
  box-shadow: 0 0 20px rgba(0, 162, 255, 1); 
   
}

.accordion-button:focus {
  box-shadow: none;


}

.accordion-button:not(.collapsed)::after {
  filter: invert(0.5);

}

.accordion-collapse {
  border-radius:0 0 40px 40px;
  background-color: white; 
  transition: border-radius 0.3s ease; 
  box-shadow: 0 0 20px rgba(0, 162, 255, 0.9);
}

.accordion-body {
  border-top: none;
  padding: 20px;
  
}

.accordion-body img {
  margin-top: 15px;
  width: 100%;
}

.accordion-item:first-child .accordion-button {
  border-top-left-radius: 40px !important;
  border-top-right-radius: 40px !important;
}

.accordion-item:last-child .accordion-button.collapsed {
  border-bottom-left-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
}

.accordion-item:last-child .accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-item:last-child .accordion-collapse {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

}


@media (max-width: 768px) {

  .servicios-section {
    padding: 50px 20px;
    margin-bottom: 60px;
  }

  .servicios-content {
    max-width: 100%;
    padding: 0 20px; 
}
  .servicios-title {
    font-size: 2.5rem;
    text-align: left
  }

  .servicios-description {
    font-size: 0.8rem;
    text-align: left;
  }

  .accordion {
    width: 100%;
    margin-top: 20px;
  }

  .accordion-button {
    font-size: 10px;
    padding: 12px;
  }

  .contact-text-mobile {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1px;
    color: #00ADEF;
    font-weight: 900;
    display: block;
  
  }
  
  
  .inicia-mobile {
   font-family: 'Archivo';
   font-weight: 300;
   font-size: 11px;
   display: block;
  }


  .contact-text {
  display: none;
  
  }
  
  
  .inicia {
   display: none;
  }

  .rulo {
    transform: scaleX(-1);
    opacity: 0.9;
    width: 75%;
    height: auto;
  }
  
  .svg-background{
   top: 2200px;
   left: 80px;
  }
}
@media (max-width: 400px) {
  .rulo {
    transform: scaleX(-1);
    opacity: 0.9;
    width: 75%;
    height: auto;
  }
  
  .svg-background{
   top: 1970px;
   left: 80px;
  }


}
@media (max-width: 380px) {
  .rulo {
    transform: scaleX(-1);
    opacity: 0.9;
    width: 75%;
    height: auto;
  }
  
  .svg-background{
   top: 1830px;
   left: 80px;
  }

}
/* PROYECTOS SECTION */

.proyectos-section {
  padding: 80px 0; 
  color: #ffffff;
  position: relative; 
  margin-bottom: 80px;
}

.proyectos-text {
margin-top: 100px;
z-index: 1000;

}
.proyectos-title {
  font-size: 58px;
  margin-bottom: 20px;
  font-family: 'Archivo';
  font-weight: bold;
  color: #00ADEF;
  margin-top: 50px;
  text-align: center;
}

.proyectos-description {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Archivo';
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-top: 0px;
}

.social-icons a {
  display: inline-block;
}
.social-icons img {
  width: 30px;
  height: 30px;
}
.proyectos-gallery {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

.gallery-row {
  display: flex;
  animation: slide 40s linear infinite;
  margin-bottom: 20px;
  width: 200%;
}

.gallery-row img {
  flex: 1 1 8.33%;
  object-fit: cover;
  height: 250px;
  margin-right: 20px;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


@media (max-width: 768px) {
  .proyectos-section {
    padding: 30px 0;
    margin-bottom: 30px;
  }

  .proyectos-text {
    margin-top: 0px;
    margin-bottom: 30px;

  }

  .proyectos-title {
    font-size: 36px;
    margin-top: 0;
  }

  .proyectos-description {
    font-size: 16px;
    line-height: 1.2;
  }

  .proyectos-gallery {
    height: 500px; 
    width: 100%;
    position: relative;
  }

  .gallery-row {
    width: 200%;
    animation: slide-mobile 40s linear infinite;
  }

  .gallery-row img {
    flex: 1 1 16.66%;
    object-fit: cover;
    height: 250px;
    margin-right: 20px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
}

@keyframes slide-mobile {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
/* EXCELENCIA SECTION */

.excelencia-section {
  padding: 150px 0;
  background-color: #242D7F;
  position: relative;
  color: #ffffff;
  text-align: center;
 
}

.excelencia-title {
  font-size: 53px;
  font-family: 'Archivo';
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 1.4;
  z-index: 2;
  position: relative;
  text-align: left;
  margin-left: 180px;

}

.sphere-excelencia { 
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0;
    z-index: 2;
    animation: excelencia 15s infinite;
    
  }

  .sphere-final {
    top: 2650px;
   left: 80px; 
  }
  
  @keyframes  excelencia {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  
  
  @media (max-width: 768px) {
  
  .excelencia-section {
    padding: 50px 10px;
 margin-bottom: 30px;
  }
  
  
  
  .excelencia-title {
      font-size: 26px;
      
      margin-left: 0;
  }

  .sphere-excelencia{
      width: 600px;
      height: 600px;
  }

  .sphere-final {
    top: 2870px;
   left: -60px; 
  }
}
@media (max-width: 390px) {
  .excelencia-section {
    padding: 50px 10px;
  
  }
  
  
  
  .excelencia-title {
      font-size: 26px;
      
      margin-left: 0;
  }

  .sphere-excelencia{
      width: 650px;
      height: 650px;
  }

  .sphere-final {
    top: 2500px;
   right: 150px; 
  }

}

/* CONTACT SECTION */

.contact-section {
  background-color: #242D7F;
  padding: 60px 0;
  position: relative;
  z-index: 3;
}

.contact-title {
  font-size: 58px;
  margin-bottom: 20px;
  font-family: 'Archivo';
  font-weight: bold;
  color: #ffffff;
}

.contact-form {
  background-color: transparent;
  padding: 40px;
  border-radius: 20px;
  box-shadow:none;
  width: 70%;
  margin-left: 140px;
}

.form-control {
  border: none;
  border-radius: 20px;
  border-color: #00ADEF;
  
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 162, 255, 0.5);
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
}

.form-control::placeholder {
  color: #b0b0b0;
}

.btn-primary {
  background-color: #00ADEF;
  border: none;
  border-radius: 40px;
  padding: 15px;
  font-size: 18px;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 162, 255, 0.7);
  width: 50% !important; 
  display: block;
  
  align-items: start;

}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 10px;
    margin-left: 0px;
  }

  .contact-title {
    font-size: 36px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn-primary {
    width: 50%
  }

  .col-12.col-md-6.mb-3 {
    width: 50%;
    display: inline-block;
    
  }

  .col-12.mb-3 {
    width: 100%;
  }
}

/* BANNER FINAL */

.banner-ultimo {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: -40px;
 

}

.banner-bg-final {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.banner-contenido {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px; 
  padding: 20px;
  text-align: center;
}

.banner-contenido img {
  max-width: 90%;
  height: auto;
  margin-top: 100px;
}
.banner-bg-final.mobile {
  display: none;
}

/* Para móviles */
@media (max-width: 768px) {
.scroll-indicator{
  display: none;
}

.banner-bg-final.desktop {
  display: none;
}

.banner-bg-final.mobile {
  display: block;
}

.banner-ultimo {
  padding-top: 20px; 
  padding-bottom: 1px; 
  height: 500px;
  margin-bottom: -90px;
}

.banner-contenido {
  height: auto;
  padding: 20px;
  margin-top: 50px;
}

.banner-contenido img {
  max-width: 100%; 
  height: auto;
}
}

/* FOOTER */

.footer-section {
  background-color: #F0F2F5;
 
  padding: 0;
  text-align: left;
}


.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 50%;
}


.footer-contact p
 { font-family: 'Archivo';
  font-weight: 300;
    margin: 0 ;
    line-height: 18px;
    color: #242D7F;
   
}
.footer-contact a {
  margin-bottom: 10px;
  color:#242D7F;
}
.footer-contact .contact-title {
  font-size: 18px;
  font-weight: bold;
}
.footer-social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.footer-social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.footer-bottom-bar {
  background-color: #242D7F;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  font-family: 'Archivo';
  font-size: 14px;
  font-weight: 400;
}


@media (max-width: 768px) {

  .footer-section .row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding-bottom: 20px;
      padding-top: 20px;
  }

  .footer-logo {
      max-width: 100px;
      margin-bottom: 0;
  }

  .footer-contact {
      flex-direction:column;
      align-items: flex-start;
      text-align: left;
      margin-left: 0;
  }

  .footer-contact p {
      line-height: 1.2;
      margin: 0;
      font-size: 10px;
  }
  .footer-contact a{
    margin-bottom: 5px;
    font-size: 10px;
  }

  .footer-social-icons {
      justify-content: flex-start;
      margin-top: 10px;
      font-weight: 400;
      margin-bottom: 10px;
  }

  .footer-social-icons a {
   
      width: 20px;
      height: 20px;
  }
  .footer-bottom-bar{
    font-size: 10px;
  }
}